<h1>Page de Contact</h1>
<p>
Cette page devra pouvoir lister tous les Contact du Client (les praticiens qu'il connais) lorsque le Client est connecter dans le cas contraire elle le redirige vers une page de connexion
</p>
