<h1>LinkMed</h1>
<form method="get" action ="">
  <p>
     <label for="Recherche"><input type="submit" value="Rechercher" /></label> : <input type="search" name="Recherche" id="Recherche" placeholder="Ex : Dentiste, Créteil" /size = "40">
  </p>
</form>
<p>Cette page doit contenir une Barre de Recherche de Praticiens, les résultats de la recherche et une carte interactive pour localisé les recherches</p>
