@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  padding-top: 150px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

nav {
position: absolute;
right: 0em;
top: 0.5em;
}

a{
	color:rgb(0,0,51);
	font-weight: bold;
}

.navbar{
	background-color: rgb(23, 101, 125);
}